.sg_header {
  background: $green-5;
  &__content-wrapper {
    display: flex;
    position: relative;
    padding: $space-s 0;
    flex-wrap: wrap;
    align-items: center;
    .c_main-logo {
      margin-right: $space-xs;
    }
    .site-title {
      font-size: 0.8em;
      text-decoration: none;
      h1,
      h2 {
        line-height: 1.3em;
        color: $green-1;
      }
    }
  }
  @media (min-width: $breakpoint-big) {
    // padding-left: 14em;
  }
}