.sg_submenu {
  margin-top: -$space-m;
  padding-top: $space-s;
  background: $gray-4;
  border-bottom: 1px solid $gray-3;
  h3 {
    margin-top: $space-s;
  }
  ul {
    margin-bottom: $space-s;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    li {
      margin-bottom: 0;
      a {
        display: block;
        padding: $space-xs;
        text-decoration: none;
        transition: background-color 100ms ease-in;
        &:hover {
          text-decoration: underline;
          background-color: $green-4;
        }
        &:focus {
          @include focus-border($gray-1);
        }
      }
    }
  }
  @media (min-width: $breakpoint-big) {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 7em;
    width: 14rem;
    ul {
      display: block;
    }
  }
}
