.sg_footer {
  &__content-wrapper {
    padding: $space-s 0 $space-l;
  }
  .site-title {
    h3,
    h4 {
      color: $green-1;
    }
  }
  @media (min-width: $breakpoint-big) {
    padding-left: 14em;
  }
}