.sg_sub-wrapper {
  position: relative;
  padding-top: $space-m;
  >h3 {
    margin: $space-m 0;
  }
  
  @media (min-width: $breakpoint-med) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .sg_submenu {
      width: 100%;
      h3 {
        display: none;
      }
    }
    .sg_sub-content {
      width: 100%;
    }
  }
  @media (min-width: $breakpoint-big) {
  }
}