<section class="contact"><div class="container-fluid"><div class="row"><div class="col-sm-3"><ul><li><a href="program.html">Channel Partner</a></li><li><a href="tjenester.html">Tjenester</a></li><li><a href="om.html">Om oss</a></li><li><a href="portaler.html">Portaler</a></li></ul></div><div class="col-sm-6"><div class="h-card"><p class="p-name">Crayon AS</p><div class="p-adr h-adr"><!-- <p class="p-post-office-box">Postboks 4384, Nydalen</p> --><p class="p-street-address">Sandakerveien 114 A</p><p><span class="p-postal-code">0402</span> <span class="p-locality">Oslo</span></p><p class="p-tel">+(47) 22 89 10 00</p><p class="u-email"><a href="mailto:firmapost@crayon.com">firmapost@crayon.com</a></p></div></div></div><!-- <div class="col-sm-3">
				<p>Crayons tjenester</p>
				<ul>
						<li><a href="#">Software Asset Management</a></li>
						<li><a href="#">Cloud & Licensing</a></li>
						<li><a href="#">Consulting Services</a></li>
						<li><a href="#">Training & Events</a></li>
				</ul>
			</div> --></div></div></section>