<div class="container-fluid"><div class="row"><div class="col-sm-12"><h2 class="section">Kurs og kompetanse</h2></div><div class="col-sm-8"><p class="lead">Har dere en klar skystrategi? Markedet er i konstant endring, og for å være konkurransedyktig er det viktig med en klar skystrategi. Innen 2020 vil 80% av alle sluttkunder være i sky (Gartner analyse 2017). Uavhengig av din bedrifts mål så er det viktig å sette en strategi på hvordan nå målet. Er målet å bli «best in class» på å levere skytjenester? Eller er det kanskje å øke salget av visse produkter? Crayon har høy kompetanse på digitale tjenester og bistår deg som partner med å legge en strategi for å nå målet eller målene.</p></div><div class="col-sm-12"><div class="services"><div class="row"><div class="col-md-4 col-sm-6"><!-- <a href="" class="service">
              <h4>Skystrategi</h4>
              <p>Tjenester og program for å bistå å legge Cloud Strategi. Hvilken posisjon skal dere ta i markedet og hvordan skal dere tilby kundene den beste løsning til en kosteffektiv pris?
              </a> --></div><div class="col-md-4 col-sm-6"><!-- <a href="" class="service">
                <h4>Crayon Monitoring Services</h4>
                <p>Are to obtain management commitment, validate business principles, goals, and drivers, and to define, scope, and prioritize project tasks. This includes to identify stakeholders.</p>
              </a> --></div><div class="col-md-4 col-sm-6"><!-- <a href="" class="service">
                <h4>Crayon Monitoring Services</h4>
                <p>Are to obtain management commitment, validate business principles, goals, and drivers, and to define, scope, and prioritize project tasks. This includes to identify stakeholders.</p>
              </a> --></div></div></div></div></div></div>