/**
 * @license
 * MyFonts Webfont Build ID 3723381, 2019-02-22T04:22:15-0500
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: PalatinoLTStd-Light by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/palatino/light/
 * 
 * Webfont: PalatinoLTStd-LightItalic by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/palatino/light-italic/
 * 
 * Webfont: PalatinoLTStd-Roman by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/palatino/roman/
 * 
 * Webfont: PalatinoLTStd-Italic by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/palatino/italic/
 * 
 * Webfont: PalatinoLTStd-Medium by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/palatino/medium/
 * 
 * Webfont: PalatinoLTStd-Bold by Linotype
 * URL: https://www.myfonts.com/fonts/linotype/palatino/bold/
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3723381
 * Licensed pageviews: 5,000,000
 * Webfonts copyright: Copyright &#x00A9; 2015 Monotype Imaging Inc. All rights reserved.
 * 
 * © 2019 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/38d075");

  
@font-face {font-family: 'PalatinoLTStd-Light';src: url('webfonts/38D075_0_0.eot');src: url('webfonts/38D075_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38D075_0_0.woff2') format('woff2'),url('webfonts/38D075_0_0.woff') format('woff'),url('webfonts/38D075_0_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PalatinoLTStd-LightItalic';src: url('webfonts/38D075_1_0.eot');src: url('webfonts/38D075_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38D075_1_0.woff2') format('woff2'),url('webfonts/38D075_1_0.woff') format('woff'),url('webfonts/38D075_1_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PalatinoLTStd-Roman';src: url('webfonts/38D075_2_0.eot');src: url('webfonts/38D075_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38D075_2_0.woff2') format('woff2'),url('webfonts/38D075_2_0.woff') format('woff'),url('webfonts/38D075_2_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PalatinoLTStd-Italic';src: url('webfonts/38D075_3_0.eot');src: url('webfonts/38D075_3_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38D075_3_0.woff2') format('woff2'),url('webfonts/38D075_3_0.woff') format('woff'),url('webfonts/38D075_3_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PalatinoLTStd-Medium';src: url('webfonts/38D075_4_0.eot');src: url('webfonts/38D075_4_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38D075_4_0.woff2') format('woff2'),url('webfonts/38D075_4_0.woff') format('woff'),url('webfonts/38D075_4_0.ttf') format('truetype');}
 
  
@font-face {font-family: 'PalatinoLTStd-Bold';src: url('webfonts/38D075_5_0.eot');src: url('webfonts/38D075_5_0.eot?#iefix') format('embedded-opentype'),url('webfonts/38D075_5_0.woff2') format('woff2'),url('webfonts/38D075_5_0.woff') format('woff'),url('webfonts/38D075_5_0.ttf') format('truetype');}
 