@import '../../../../assets/styles/variables';

.c_accordion {
  ul {
    list-style: none;
  }
  &__item {
    border: 3px solid $green-4;
    .item__trigger {
      position: relative;
      width: 100%;
      padding: $space-s;
      text-align: left;
      background: $green-4;
      border: none;
      font-family: $base-font-family;
      cursor: pointer;
      transition: background-color 100ms ease, color 100ms ease;
      &:focus {
        @include focus-border($green-2);
      }
      &__text {
        font-size: (20/16) * 1em;
      }
      &__icon {
        position: absolute;
        top: 50%;
        right: $space-s;
        width: $space-m;
        height: $space-m;
        transform: translateY(-50%);
        overflow: hidden;
        span {
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          &.icon-minus {
            opacity: 0;
          }
        }
        svg {
          display: block;
          width: 100%;
          height: 100%;
        }
        svg line {
          stroke: $black-1;
          transition: stroke 100ms ease;
        }
      }
    }
    .item__panel {
      visibility: hidden;
      max-height: 0; 
      overflow: hidden;
      animation: fadeOut 0.5s linear;
      transition: max-height 300ms ease;
      &__content {
        padding: $space-s $space-s $space-xxs $space-s;
      }
    }
    &--closed {
      .item__trigger {
        &__icon {
          span {
            &.icon-plus {
              animation: spinIn 0.3s linear;
            }
          }
        }
      }
    }
    &--expanded {
      .item__trigger {
        &__icon {
          span {
            &.icon-minus {
              opacity: 1;
              animation: spinIn 0.3s linear;
              svg {
                top: 50%;
              }
            }
            &.icon-plus {
              opacity: 0;
            }
          }
        }
      }
      .item__panel {
        visibility: visible;
        max-height: 1500px;
        animation: fadeIn 0.5s linear;
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    &__item {
      .item__trigger {
        &:hover {
          background-color: $green-2;
          color: #fff;
          .item__trigger__icon {
            span {
              svg line {
                stroke: #fff;
              }
            }
          }
        }
      }
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  30% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible;
  }
  80% {
    opacity: 1;
    visibility: hidden;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes spinIn {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  to {
    opacity: 1;
    transform: rotate(359deg);
  }
}