@import '../../../../assets/styles/variables';

.c_big-menu {
  background-color: $gray-4;
  &--collapse {
    .c_big-menu__content-wrapper {
      position: fixed;
      top: 0;
      right: -100%;
      height: 100%;
      overflow-y: scroll;
      z-index: 15;
      transition: right 200ms ease-in-out;
      &::-webkit-scrollbar {
        display: none; 
      }
    }
    
    &.open {
      .c_button--close-big-menu {
        opacity: 1;
        right: $space-m;
      }
      .c_big-menu__content-wrapper {
        right: 0;
      }
    }
  }
  &--logged-in {
    .c_big-menu__content-wrapper {
      padding-top: $space-s;
      .profile {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        svg {
          .stroke {
            stroke: $green-2;
          }
          .fill {
            fill: $green-2;
          }
        }
        &__name {
          margin-left: $space-s;
          padding-right: $space-l;
          width: calc(100% - 4em);
        }
        &__actions {
          display: flex;
          margin-top: $space-s;
          width: 100%;
          .c_button {
            margin-left: auto;
          }
        }
      }
    }
  }
  .c_button--close-big-menu,
  .c_button--open-big-menu {
    position: fixed;
    top: $space-s;
    right: $space-s;
    // right: 5%;
    svg {
      width: 50%;
    }
  }
  .c_button--open-big-menu {
    z-index: 10;
    >span {
      position: absolute;
      top: 0;
      width: 100%;
      svg {
        display: block;
        width: 44px;
        height: 44px;
      }
    }
  }
  .c_button--close-big-menu {
    opacity: 0;
    right: -2em;
    background-color: $gray-4;
    transition: opacity 200ms ease-in-out, background-color 100ms ease-in;
    svg {
      margin: 0 auto;
      width: 50%;
    }
    &:focus {
      @include focus-border($gray-1);
    }
    &:hover {
      path {
        fill: #fff;
      }
    }
  }
  
  &__content-wrapper {
    padding: 6em $space-m 4em;
    width: 100%;
    height: 100%;
    background: $gray-4;
    .profile {
      margin-bottom: $space-l;
      .profile__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
      }
    }
    .links {
      margin-bottom: 4rem;
      h3 {
        padding-bottom: $space-xs;
        font-style: italic;
        color: $green-2;
        border-bottom: 1px solid $green-1;
      }
      ul {
        margin-top: $space-xs;
        list-style: none;
        li {
          border-bottom: 1px solid $gray-2;
          margin-bottom: 0;
          a {
            display: block;
            position: relative;
            padding: $space-s $space-m $space-s 0;
            text-decoration: none;
            &:after {
              position: absolute;
              top: 50%;
              right: $space-xs;
              transform: translateY(-0.7em);
              font-size: 1.8em;
              content: '\203A';
              font-family: $base-font-family;
              font-weight: bold;
              transition: right 100ms ease-in;
            }
            &:focus {
              @include focus-border($green-1);
            }
          }
          &:last-of-type {
            border-bottom: none;
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    &__content-wrapper {
      .links {
        ul {
          li {
            a {              
              &:hover {
                text-decoration: underline;
                &:after {
                  // right: $space-s;
                }
              }
            }
          }
        }
      }
    }
    &--right {
      .c_big-menu__content-wrapper {
        box-shadow: -10px 0 15px 0px rgba($gray-3, 0.4);
      }
    }
    &--collapse {
      .c_big-menu__content-wrapper {
        width: 25rem;
      }
    }
    .c_button--open-big-menu {
      position: relative;
      top: 1px;
      right: 0;
    }
    .c_button--close-big-menu {
      position: absolute;
    }
    &.open {
      .c_button--close-big-menu {
        top: $space-s;
        right: $space-m;
        opacity: 1;
      }
    }
  }
}