@import '../../../../assets/styles/variables';

.c_breadcrumbs {
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: $space-xs;
      a {
        &:focus {
          @include focus-border($green-1);
        }
      }
      &:after {
        margin-left: $space-xs;
        content: '/';
      }
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        &:after {
          display: none;
          content: '';
        }
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    ul {
      li {
        a {
          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }
}