@import '../../../../assets/styles/variables';

.c_button {
  &--icon {
    padding: 0;
    width: 44px;
    height: 44px;
    background-color: $green-2;
    color: #fff;
    transition: background-color 100ms ease-in, border-color 100ms ease-in;
    &:hover,
    &--hover {
      background-color: $green-1;
    }
    &:focus,
    &--focus {
      @include focus-border($green-1);
    }
  }
  &--round {
    border-radius: 50%;
  }
}