@import '../../../../assets/styles/variables';

.c_facts {
  padding: $space-m;
  width: 100%;
  background: $green-4;
  &__heading {
    margin-bottom: $space-m;
    font-size: (32/16) * 1em;
    line-height: (30/16) * 1em;
  }
  p {
    font-size: (20/16) * 1em;
    &:last-of-type {
      margin-bottom: 0;
    }
  }
}