@import '../../../../assets/styles/variables';

.c_main-header {
  // display: flex;
  position: relative;
  padding: $space-s 0;
  // align-items: center;
  background-color: $green-5;
  &__content-wrapper {
    padding: 0 $space-s;
    width: 100%;
  }
  h1 {
    position: relative;
    margin-left: $space-s;
    font-size: (14/16) * 1em;
    line-height: inherit;
    text-transform: uppercase;
  }
  &__go-home {
    display: flex;
    align-items: center;
    text-decoration: none;
    &:focus {
      @include focus-border($gray-1);
    }
  }
  &__profile {
    display: none;
  }
  .skip-link {
    position: absolute;
    top: $space-s;
    left: $space-s;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    background-color: #ebf3f3;
    color: #222;
    opacity: 0;
    &:focus {
      margin: 0;
      padding: $space-xs;
      height: auto;
      width: auto;
      opacity: 1;
      background: #fff;
      overflow: auto;
      z-index: 3;
      border: 2px solid $green-2;
      outline: none;
      transition: all .2s ease;
    }
  }
  .c_header-search {
    margin-top: $space-m;
    &__content {
      .c_input {
        margin-bottom: 0;
      }
    }
  }
  .c_button--log-in-link {
    display: none;
  }
  @media (min-width: $breakpoint-med) {
    padding: $space-m 0;
    .skip-link {
      top: $space-xxs;
      left: 0;
    }
    &__content-wrapper {
      display: flex;
      position: relative;
      align-items: center;
      padding: 0 $space-m;
    }
    h1 {
      margin-left: $space-m;
      margin-right: $space-s;
      max-width: 470px;
      font-size: (24/16) * 1em;
    }
    .c_header-search {
      flex-grow: 1;
      margin: 0 $space-s;
    }
    &__go-home {
      margin-right: auto;
      >span {
        position: relative;
        &:after {
          display: block;
          position: absolute;
          top: 0;
          right: -$space-s;
          width: 1px;
          height: 100%;
          background-color: $green-1;
          content: '';
        }
      }            
    }
    &__profile {
      display: inline-block;
      a {
        display: block;        
        svg {
          display: block;
          margin: 0 auto;
          width: 70%;
        }
      }
    }
  }
  @media (min-width: $breakpoint-big) {
    &__content-wrapper {
      padding: 0 $space-xxl;
    }
    .c_button--log-in-link {
      display: inline-block;
    }
  }
  @media (min-width: $breakpoint-mega) {
    z-index: 10;
  }
}