@import '../../../../assets/styles/variables';

.c_header-search {
  &__content {
    position: relative;
    .c_button--search {
      padding-left: 0;
      padding-right: 0;
      width: 44px;
      height: 44px;
      background-color: #fff;
      border: none;
    }
  }
  @media (max-width: $breakpoint-med)  {
    &__content {
      .c_input {
        input {
          padding-left: 50px;
        }
      }
      .c_button--search {
        position: absolute;
        top: 3px;
        left: 3px;
        height: 37px;
        min-height: auto;
        svg {
          margin: -$space-xxs auto 0;
          width: 50%;
          stroke: $gray-1;
          path,
          rect {
            stroke: $gray-1;
            fill: $gray-1;
          }
        }
      }
    }
    
  }
  @media (min-width: $breakpoint-med) {
    position: relative;
    padding: 0;
    max-width: 44px;
    overflow: hidden;
    transition: 250ms max-width ease-in-out;
    &.open {
      max-width: 300px;
    }
    &__content {
      .c_input {
        input {
          border-color: $green-4;
        }
      }
      .c_button--search {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: $green-2;
        border: 1px solid $green-4;
        svg {
          position: absolute;
          top: 50%;
          left: calc(50% - 1px);
          transform: translate(-50%, -50%);
          // margin: -$space-xxs auto 0 -$space-xxs;
          margin: 0;
          // border: 1px solid red;
          width: 50%;
        }
        &:hover {
          background-color: $green-1;
        }
      }
    }
  }
}