@import '../../../../assets/styles/variables';

.c_image {
  img {
    display: block;
    width: 100%;
  }
  &__figcaption {
    margin-top: $space-s;
  }
  &__credit {
    display: inline-block;
    margin-left: $space-xxs;
    &:before {
      margin-right: $space-xxs;
      content: '|';
    }
  }
}