@import '../../../../assets/styles/variables';

.c_big-menu {
  &--left {
    display: none;
    height: 0;
  }
  @media (min-width: $breakpoint-med) {
    &--left {
      .c_big-menu__content-wrapper {
        box-shadow: 10px 0 15px 0px rgba($gray-3, 0.4);
      }
    }
  }
  @media (min-width: $breakpoint-mega) {
    &--left {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      padding-top: 8em;
      padding-bottom: 8em;
      height: 100%;
      z-index: 5;
      .c_big-menu__content-wrapper {
        width: 20em;
        box-shadow: none;
        overflow-y: scroll;
        &::-webkit-scrollbar {
          display: none; 
        }
      }
    }
  }
}