@import '../../../../assets/styles/variables';

.c_ordered-list {
  padding-left: $space-s;
  >li {
    margin-bottom: $space-s;
    >ol,
    >ul {
      padding-left: 0;
    }
  }
}

.c_ordered-list,
.c_unordered-list {
  margin-bottom: $space-xl;
  ul,
  ol {
    list-style: none;
  }
  >li {
    margin-bottom: $space-m;
    >*:first-of-type:not(ul):not(ol) {
      display: inline-block;
      margin-top: 0;
    }
    p {
      font-size: (16/16) * 1em;
    }
    >ul {
      >li {
        margin-bottom: $space-m;
        >*:first-of-type:not(ul):not(ol) {
          display: inline-block;
          margin-top: 0;
        }
        &:before {
          content: '\2022';
          margin-right: $space-s;
          color: $green-2;
          width: $space-l;
          padding-left: -$space-s;
          font-weight: bold;
        }
      }
    }
    >ol {
      padding-left: $space-xl;
      list-style-type: decimal;
    }
    >ul,
    >ol {
      display: block;
      margin-top: $space-s;
      li {
        margin-bottom: $space-s;
        >ul,
        >ol {
          display: block;
          margin-left: $space-m;
          li {
            margin-top: $space-s;
            &:before {
              content: '\2013';
              margin-right: $space-s;
              color: $green-2;
              width: $space-l;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

.c_unordered-list {
  padding-left: 0;
  list-style: none;
  >li {
    &:before {
      content: '\2022';
      color: $green-2;
      width: $space-m;
      margin-right: $space-xxs;
      font-weight: bold;
    }
    >ul {
      padding-left: $space-s; 
    }
  }
}