@import '../../../../assets/styles/variables';

.c_pagination {
  width: 100%;
  nav {
    display: flex;
    justify-content: center;
    ul {
      display: flex;
      list-style: none;
      li {
        margin-bottom: 0;
        button {
          position: relative;
          width: $space-xl;
          min-width: 44px;
          &:focus {
            z-index: 2;
          }
        }
        &.active {
          button {
            color: #fff;
            background-color: $green-2;
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    nav {
      justify-content: flex-end;
    }
  }
}