@import '../../../../assets/styles/variables';

.c_radio-group {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  h3 {
    margin-top: 0;
    font-size: (20/16) * 1em;
  }
  &__item {
    display: block;
    position: relative;
    margin-bottom: $space-s;
    label {
      position: relative;
      margin-left: -2px;
      padding: 0 $space-s 2px $space-l;
      color: $green-1;
      border: 2px solid transparent;
      font-size: (20/16) * 1em;
      &:before,
      &::after {
        position: absolute;
        content: '';
      }
      &:before {
        display: inline-block;
        top:  0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid $green-1;
        border-radius: 50%;
      }
      &:after {
        top: 7px;
        left: 7px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: $green-1;
        transition: opacity 70ms ease-in;
        opacity: 0;
      }
    }
    input[type="radio"] {
      opacity: 0;
      width: 0;
      &:checked + label {
        &:after {
          opacity: 1;
        }
      }
      &:focus + label {
        @include focus-border($gray-1);
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    &__item {
      label {
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}