@import '../../../../assets/styles/variables';

.c_table {
  &--responsive {
    @media (max-width: $breakpoint-med) {
      overflow-x: auto !important;
      thead,
      tfoot {
        display: none;
      }
      tbody {
        tr {
          td {
            display: block;
            position: relative;
            width: 100%;
            padding-left: calc(10rem + #{$space-s}) !important;
            &:before {
              display: block;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
              width: 10rem;
              content: attr(data-th);
              font-weight: 700;
            }
          }
        }
      }
    }
  }
}