@import '../../../../assets/styles/variables';

@function getSpinnerOpacity($i) {
  @return (1/#{$i});
}
@function getSpinnerDegrees($i) {
  @return (30*$i);
}

.c_spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  &__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    animation: spin 1s steps(12, end) infinite;
    i {
      display: block;
      position: absolute;
      left: calc(50% - 3px);
      height: 30px;
		  width: 6px;
      transition: height 2s ease;
      transform-origin: center 50px;
      background: $green-1;
      @for $i from 1 through 12 {
        &:nth-of-type(#{$i}) {
          transform: rotate(getSpinnerDegrees($i) + deg);
          opacity: getSpinnerOpacity($i);
        }
      }
    }
  }
}

@keyframes spin {
	from { 
    transform: rotate(0deg);
  }
	to {
    transform: rotate(360deg);
  }
}