@import '../../../../assets/styles/variables';

.c_table {
  margin-bottom: $space-m;
  overflow-x: scroll;
  table {
    width: 100%;
    max-width: 100%;
  }
  thead,
  tfoot {
    tr {
      th,
      td {
        padding: $space-s $space-xs;
        font-family: 'Open Sans';
        font-size: (16/16) * 1em;
        text-align: left;
      }
    }
  }
  thead {
    tr {
      th {
        text-transform: uppercase;
        border-bottom: 2px solid $gray-3;
      }
    }
  }
  tbody {
    tr {      
      td {
        padding: $space-xs;
        text-align: left;
        border-bottom: 1px solid $gray-3;
      }
    }
  }
}