@import '../../../../assets/styles/variables';

.c_table-scroll {
  display: flex;
  padding: $space-xxs $space-xs;
  width: 5rem;
  min-height: 28px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: $space-s;
  background-color: $green-2;
  animation: bounce 1.6s infinite linear;
  &__text {
    margin-top: 2px;
  }
  &__icon {
    margin-left: $space-xxs;
    height: 12px;
    svg {
      display: block;
      height: 100%;
      fill: #fff;
    }
  }
}

@keyframes bounce {
  0% {
    margin-left: 0;
  }
  70% {
    margin-left: 0;
  }
  75% {
    margin-left: $space-xxs;
  }
  80% {
    margin-left: 0;
  }
  85% {
    margin-left: $space-xs;
  }
  90% {
    margin-left: 0;
  }
}