@import '../../../../assets/styles/variables';

.c_warning {
  position: relative;
  padding: $space-s;
  padding-left: $space-xxl;
  margin-bottom: $space-xs;
  transition: background-color 150ms ease-in-out;
  p {
    line-height: (22/16) * 1em;
    a {
      color: inherit;
      &:focus {
        @include focus-border(inherit);
      }
    }
    &:last-of-type {
      margin-bottom: 0;
    }
  }
  svg {
    position: absolute;
    top: 50%;
    left: $space-s;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
  }
  &--confirm {
    background-color: $green-4;
    color: $green-2;
    svg {
      path {
        fill: $green-2;
      }
    }
  }
  &--error {
    background-color: $red-3;
    color: $red-1;
    svg {
      path {
        fill: $red-1;
      }
    }
  }
  &--info {
    background-color: $gray-4;
    color: $black-1;
    svg {
      path {
        fill: $black-1;
      }
    }
  }
  &--obs {
    background-color: $yellow-2;
    color: $yellow-1;
    color: $yellow-1;
    svg {
      path {
        fill: $yellow-1;
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    p a {
      &:hover {
        text-decoration: none;
      }
    }
  }
}