
// Fonter
$default-font: (16/16) * 1em;

$ikke-bruk: 'PalatinoLTStd-Roman', Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
$base-font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
$opensans: 'Open Sans', sans-serif;

// Farger
$green-1: #325553;
$green-2: #4c6e6e;
$green-3: #79a8a8;
$green-4: #d7e6e6;
$green-5: #ebf3f3;
$black-1: #3e3e3e;
$red-1: #a30909;
$red-2: #ea3030;
$red-3: #edcfcf;
$gray-1: #707070;
$gray-2: #c3c3c3; // For borders
$gray-3: #e0e0e0;
$gray-4: #f5f5f5;
$yellow-1: #86660e;
$yellow-2: #faf8dd;

// Breakpoints
$breakpoint-small: 30em; // 480px
$breakpoint-med: 48em; // 768px
$breakpoint-big: 70em; // 1200px
$breakpoint-mega: 90em; // 1440px

// Spacing
$space-xxs: 0.25rem; // 4px
$space-xs: 0.5rem; // 8px;
$space-s: 1rem; // 16px;
$space-m: 1.5rem; // 24px;
$space-l: 2rem; // 32px;
$space-xl: 2.5rem; // 40px;
$space-xxl: 3rem; // 48px;
$space-xxxl: 3.5rem; // 48px;

@mixin focus-border($color1) {
  // transition: outline-offset 100ms ease-in;
  // background-image: linear-gradient(to right, $color1 50%, transparent 50%), linear-gradient(to right, $color1 50%, transparent 50%), linear-gradient(to bottom, $color1 50%, transparent 50%), linear-gradient(to bottom, $color1 50%, transparent 50%);
  // background-position: left top, left bottom, left top, right top;
  // background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  // background-size: 8px 2px, 8px 2px, 2px 8px, 2px 8px;
  // outline: none;
  outline-style: solid;
  outline-width: 2px;
  outline-color: $color1;
  outline-offset: 1px;
  // border: 2px solid #fff;
}

@mixin gradient($color1, $color2) {
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}

@mixin box-shadow() {
  box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}