@import './variables';

@import './styleguide-partials/sg_mainMenu';
@import './styleguide-partials/sg_subMenu';
@import './styleguide-partials/sg_header';
@import './styleguide-partials/sg_footer';
@import './styleguide-partials/sg_subPage';
@import './styleguide-partials/sg_componentWrapper';
@import './styleguide-partials/sg_resourceWrapper';
@import './styleguide-partials/sg_g_col-group';

body.has-left-menu {
  @media (min-width: $breakpoint-big) {
    .sg_header,
    .sg_footer,
    .sg_main > .g_center {
      padding-left: 12em;
    }
  }
}

.thead {
  font-family: $opensans;
  font-weight: bold;
}

.sg_divider {
  display: block;
  margin: $space-xl auto;
  width: 100%;
  height: 1px;
  background-color: $green-2;
}

@media (min-width: $breakpoint-small) {

}

@media (min-width: $breakpoint-med) {
}
@media (min-width: $breakpoint-big) {

}
@media (min-width: $breakpoint-mega) {

}