* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  display: flex; }

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
  font-size: 1em;
  overflow-x: hidden; }

.sg_footer,
.sg_header {
  flex-shrink: 0; }

.sg_main {
  flex-grow: 1; }

h1,
h2,
h3,
h4 {
  font-weight: normal; }

h1 {
  font-size: 1.75em;
  line-height: 1.75em; }

h2 {
  font-size: 1.5em;
  line-height: 1.625em; }

h3 {
  font-size: 1.25em;
  line-height: 1.875em; }

h4 {
  font-size: 1.125em;
  line-height: 1.375em; }

a {
  color: #325553; }

.c_text-link {
  display: inline-block;
  padding: 0.5rem 0;
  transition: background-color 100ms ease-in;
  border: 2px solid transparent; }
  .c_text-link:hover, .c_text-link--hover {
    background: #d7e6e6; }
  .c_text-link:focus, .c_text-link--focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #707070;
    outline-offset: 1px; }

p {
  margin-bottom: 1rem;
  line-height: 1.8em; }
  p a {
    color: #325553; }
    p a:focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #325553;
      outline-offset: 1px; }
    @media (min-width: 48em) {
      p a:hover {
        color: #3e3e3e;
        text-decoration: none; } }
  p.ingress {
    font-style: italic;
    font-size: 1.125em; }

ul li,
ol li {
  margin-bottom: 0.5rem; }

.dim2 {
  font-family: "PalatinoLTStd-Roman", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif; }

.dim3 {
  font-family: 'Palatino'; }

.visually-hidden {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden; }

@media (min-width: 48em) {
  h1 {
    font-size: 2.125em;
    line-height: 2.25em; }
  h2 {
    font-size: 1.875em;
    line-height: 1.5em; }
  h3 {
    font-size: 1.5em;
    line-height: 2.125em; }
  h4 {
    font-size: 1.375em;
    line-height: 1.875em; }
  p.ingress {
    font-size: 1.25em;
    line-height: 1.75em; } }

.g_main {
  margin-top: 1.5rem; }

.g_center {
  margin: 0 auto;
  width: 90%;
  max-width: 1084px; }
  @media (min-width: 48em) {
    .g_center {
      width: 80%; } }
  @media (min-width: 70em) {
    .g_center {
      width: 85%; } }

.c_main-menu--sg.open ul {
  max-height: 170px; }

.sg_main-menu .c_button--collapse-menu {
  display: none; }

.sg_main-menu ul {
  list-style: none; }

.sg_main-menu li {
  margin-bottom: 0; }
  .sg_main-menu li a {
    display: block;
    padding: 0.5rem 1.5rem; }
    .sg_main-menu li a:hover {
      text-decoration: underline;
      background-color: #d7e6e6; }
    .sg_main-menu li a:focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #707070;
      outline-offset: 1px; }
  .sg_main-menu li h2 {
    margin-top: 1rem; }

@media (max-width: 48em) {
  .sg_main-menu {
    width: 100%; }
    .sg_main-menu > div > ul {
      margin-left: -5%;
      max-height: 0;
      width: 110%;
      background-color: #fff;
      overflow: hidden;
      background: linear-gradient(to bottom, #fff 0%, #f5f5f5 100%);
      transition: max-height 250ms ease-in-out;
      border-bottom: 2px solid #e0e0e0; }
      .sg_main-menu > div > ul > li > a {
        background-color: #fff; }
        .sg_main-menu > div > ul > li > a.active {
          background: #325553;
          color: #fff; }
    .sg_main-menu .c_button--collapse-menu {
      display: block;
      padding: 0 calc(5% + 0.5rem);
      margin-left: -5%;
      width: 110%;
      text-align: left;
      border-top: 1px solid #e0e0e0;
      background-color: #e0e0e0; }
    .sg_main-menu.open ul {
      max-height: 500px; } }

@media (min-width: 48em) {
  .sg_main-menu {
    background: #fff;
    border-bottom: 2px solid #e0e0e0; }
    .sg_main-menu ul {
      display: flex;
      justify-content: flex-end; }
      .sg_main-menu ul > li > a {
        margin-bottom: -2px; }
        .sg_main-menu ul > li > a.active {
          border-bottom: 2px solid #325553; } }

.sg_submenu {
  margin-top: -1.5rem;
  padding-top: 1rem;
  background: #f5f5f5;
  border-bottom: 1px solid #e0e0e0; }
  .sg_submenu h3 {
    margin-top: 1rem; }
  .sg_submenu ul {
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none; }
    .sg_submenu ul li {
      margin-bottom: 0; }
      .sg_submenu ul li a {
        display: block;
        padding: 0.5rem;
        text-decoration: none;
        transition: background-color 100ms ease-in; }
        .sg_submenu ul li a:hover {
          text-decoration: underline;
          background-color: #d7e6e6; }
        .sg_submenu ul li a:focus {
          outline-style: solid;
          outline-width: 2px;
          outline-color: #707070;
          outline-offset: 1px; }
  @media (min-width: 70em) {
    .sg_submenu {
      position: fixed;
      top: 0;
      left: 0;
      bottom: 0;
      padding-top: 7em;
      width: 14rem; }
      .sg_submenu ul {
        display: block; } }

.sg_header {
  background: #ebf3f3; }
  .sg_header__content-wrapper {
    display: flex;
    position: relative;
    padding: 1rem 0;
    flex-wrap: wrap;
    align-items: center; }
    .sg_header__content-wrapper .c_main-logo {
      margin-right: 0.5rem; }
    .sg_header__content-wrapper .site-title {
      font-size: 0.8em;
      text-decoration: none; }
      .sg_header__content-wrapper .site-title h1,
      .sg_header__content-wrapper .site-title h2 {
        line-height: 1.3em;
        color: #325553; }

.sg_footer__content-wrapper {
  padding: 1rem 0 2rem; }

.sg_footer .site-title h3,
.sg_footer .site-title h4 {
  color: #325553; }

@media (min-width: 70em) {
  .sg_footer {
    padding-left: 14em; } }

.sg_sub-wrapper {
  position: relative;
  padding-top: 1.5rem; }
  .sg_sub-wrapper > h3 {
    margin: 1.5rem 0; }
  @media (min-width: 48em) {
    .sg_sub-wrapper {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between; }
      .sg_sub-wrapper .sg_submenu {
        width: 100%; }
        .sg_sub-wrapper .sg_submenu h3 {
          display: none; }
      .sg_sub-wrapper .sg_sub-content {
        width: 100%; } }

.sg_component-wrapper {
  margin-bottom: 3em; }
  .sg_component-wrapper__component {
    margin: 0.5rem 0 2rem; }
  .sg_component-wrapper .component__version {
    margin-top: 1.5rem; }
  .sg_component-wrapper__code pre {
    display: block;
    margin-bottom: 1.6em;
    padding: 1em 1.5em;
    max-width: 100%;
    background: #f5f5f5;
    border: 1px solid #ddd;
    border-left: 3px solid #325553;
    color: #707070;
    page-break-inside: avoid;
    font-family: monospace;
    overflow: auto;
    word-wrap: break-word; }

.sg_main {
  margin-top: 1.5rem; }

.sg_g_col-group .g_col {
  border: 1px solid rgba(50, 85, 83, 0.4);
  background: rgba(50, 85, 83, 0.06); }

@media (min-width: 70em) {
  body.has-left-menu .sg_header,
  body.has-left-menu .sg_footer,
  body.has-left-menu .sg_main > .g_center {
    padding-left: 12em; } }

.thead {
  font-family: "Open Sans", sans-serif;
  font-weight: bold; }

.sg_divider {
  display: block;
  margin: 2.5rem auto;
  width: 100%;
  height: 1px;
  background-color: #4c6e6e; }

.sg_colors {
  padding: 0;
  margin: 0; }
  .sg_colors li {
    margin-bottom: 1.5rem;
    list-style-type: none; }
    .sg_colors li h3 {
      margin-top: 0;
      margin-bottom: 1em; }
    .sg_colors li .color {
      display: block;
      position: relative;
      margin-bottom: 0.5rem;
      min-height: 15em; }
      .sg_colors li .color__info {
        position: absolute;
        left: 0.5rem;
        bottom: 0.5rem;
        right: 0.5rem;
        padding: 0.5rem;
        background-color: #fff; }
      .sg_colors li .color__id {
        position: absolute;
        right: 0.5rem;
        top: 0.5rem;
        padding: 0.25rem;
        background: rgba(255, 255, 255, 0.85); }
  @media (min-width: 70em) {
    .sg_colors {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap; }
      .sg_colors li {
        width: calc(50% - 2em); }
        .sg_colors li .color {
          min-height: 20em; } }

.sg_contrasts {
  list-style: none; }
  .sg_contrasts li {
    margin-bottom: 1rem; }
    .sg_contrasts li .contrast {
      padding: 1.5rem;
      font-size: 2em;
      text-transform: uppercase; }

.sg_fonts {
  list-style: none; }
  .sg_fonts li {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 2px solid #c3c3c3; }
    .sg_fonts li > span {
      display: block;
      margin-bottom: 0.5rem; }
    .sg_fonts li > h4 {
      margin-bottom: 1rem; }

.c_accordion ul {
  list-style: none; }

.c_accordion__item {
  border: 3px solid #d7e6e6; }
  .c_accordion__item .item__trigger {
    position: relative;
    width: 100%;
    padding: 1rem;
    text-align: left;
    background: #d7e6e6;
    border: none;
    font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
    cursor: pointer;
    transition: background-color 100ms ease, color 100ms ease; }
    .c_accordion__item .item__trigger:focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #4c6e6e;
      outline-offset: 1px; }
    .c_accordion__item .item__trigger__text {
      font-size: 1.25em; }
    .c_accordion__item .item__trigger__icon {
      position: absolute;
      top: 50%;
      right: 1rem;
      width: 1.5rem;
      height: 1.5rem;
      transform: translateY(-50%);
      overflow: hidden; }
      .c_accordion__item .item__trigger__icon span {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
        .c_accordion__item .item__trigger__icon span.icon-minus {
          opacity: 0; }
      .c_accordion__item .item__trigger__icon svg {
        display: block;
        width: 100%;
        height: 100%; }
      .c_accordion__item .item__trigger__icon svg line {
        stroke: #3e3e3e;
        transition: stroke 100ms ease; }
  .c_accordion__item .item__panel {
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    animation: fadeOut 0.5s linear;
    transition: max-height 300ms ease; }
    .c_accordion__item .item__panel__content {
      padding: 1rem 1rem 0.25rem 1rem; }
  .c_accordion__item--closed .item__trigger__icon span.icon-plus {
    animation: spinIn 0.3s linear; }
  .c_accordion__item--expanded .item__trigger__icon span.icon-minus {
    opacity: 1;
    animation: spinIn 0.3s linear; }
    .c_accordion__item--expanded .item__trigger__icon span.icon-minus svg {
      top: 50%; }
  .c_accordion__item--expanded .item__trigger__icon span.icon-plus {
    opacity: 0; }
  .c_accordion__item--expanded .item__panel {
    visibility: visible;
    max-height: 1500px;
    animation: fadeIn 0.5s linear; }

@media (min-width: 48em) {
  .c_accordion__item .item__trigger:hover {
    background-color: #4c6e6e;
    color: #fff; }
    .c_accordion__item .item__trigger:hover .item__trigger__icon span svg line {
      stroke: #fff; } }

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden; }
  30% {
    opacity: 1;
    visibility: visible; }
  80% {
    opacity: 1;
    visibility: hidden; }
  100% {
    opacity: 1;
    visibility: visible; } }

@keyframes fadeOut {
  0% {
    opacity: 1;
    visibility: visible; }
  80% {
    opacity: 1;
    visibility: hidden; }
  100% {
    opacity: 0;
    visibility: hidden; } }

@keyframes spinIn {
  from {
    opacity: 0;
    transform: rotate(0deg); }
  to {
    opacity: 1;
    transform: rotate(359deg); } }

.c_big-menu {
  background-color: #f5f5f5; }
  .c_big-menu--collapse .c_big-menu__content-wrapper {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    overflow-y: scroll;
    z-index: 15;
    transition: right 200ms ease-in-out; }
    .c_big-menu--collapse .c_big-menu__content-wrapper::-webkit-scrollbar {
      display: none; }
  .c_big-menu--collapse.open .c_button--close-big-menu {
    opacity: 1;
    right: 1.5rem; }
  .c_big-menu--collapse.open .c_big-menu__content-wrapper {
    right: 0; }
  .c_big-menu--logged-in .c_big-menu__content-wrapper {
    padding-top: 1rem; }
    .c_big-menu--logged-in .c_big-menu__content-wrapper .profile {
      display: flex;
      flex-wrap: wrap;
      align-items: center; }
      .c_big-menu--logged-in .c_big-menu__content-wrapper .profile svg .stroke {
        stroke: #4c6e6e; }
      .c_big-menu--logged-in .c_big-menu__content-wrapper .profile svg .fill {
        fill: #4c6e6e; }
      .c_big-menu--logged-in .c_big-menu__content-wrapper .profile__name {
        margin-left: 1rem;
        padding-right: 2rem;
        width: calc(100% - 4em); }
      .c_big-menu--logged-in .c_big-menu__content-wrapper .profile__actions {
        display: flex;
        margin-top: 1rem;
        width: 100%; }
        .c_big-menu--logged-in .c_big-menu__content-wrapper .profile__actions .c_button {
          margin-left: auto; }
  .c_big-menu .c_button--close-big-menu,
  .c_big-menu .c_button--open-big-menu {
    position: fixed;
    top: 1rem;
    right: 1rem; }
    .c_big-menu .c_button--close-big-menu svg,
    .c_big-menu .c_button--open-big-menu svg {
      width: 50%; }
  .c_big-menu .c_button--open-big-menu {
    z-index: 10; }
    .c_big-menu .c_button--open-big-menu > span {
      position: absolute;
      top: 0;
      width: 100%; }
      .c_big-menu .c_button--open-big-menu > span svg {
        display: block;
        width: 44px;
        height: 44px; }
  .c_big-menu .c_button--close-big-menu {
    opacity: 0;
    right: -2em;
    background-color: #f5f5f5;
    transition: opacity 200ms ease-in-out, background-color 100ms ease-in; }
    .c_big-menu .c_button--close-big-menu svg {
      margin: 0 auto;
      width: 50%; }
    .c_big-menu .c_button--close-big-menu:focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #707070;
      outline-offset: 1px; }
    .c_big-menu .c_button--close-big-menu:hover path {
      fill: #fff; }
  .c_big-menu__content-wrapper {
    padding: 6em 1.5rem 4em;
    width: 100%;
    height: 100%;
    background: #f5f5f5; }
    .c_big-menu__content-wrapper .profile {
      margin-bottom: 2rem; }
      .c_big-menu__content-wrapper .profile .profile__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center; }
    .c_big-menu__content-wrapper .links {
      margin-bottom: 4rem; }
      .c_big-menu__content-wrapper .links h3 {
        padding-bottom: 0.5rem;
        font-style: italic;
        color: #4c6e6e;
        border-bottom: 1px solid #325553; }
      .c_big-menu__content-wrapper .links ul {
        margin-top: 0.5rem;
        list-style: none; }
        .c_big-menu__content-wrapper .links ul li {
          border-bottom: 1px solid #c3c3c3;
          margin-bottom: 0; }
          .c_big-menu__content-wrapper .links ul li a {
            display: block;
            position: relative;
            padding: 1rem 1.5rem 1rem 0;
            text-decoration: none; }
            .c_big-menu__content-wrapper .links ul li a:after {
              position: absolute;
              top: 50%;
              right: 0.5rem;
              transform: translateY(-0.7em);
              font-size: 1.8em;
              content: '\203A';
              font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
              font-weight: bold;
              transition: right 100ms ease-in; }
            .c_big-menu__content-wrapper .links ul li a:focus {
              outline-style: solid;
              outline-width: 2px;
              outline-color: #325553;
              outline-offset: 1px; }
          .c_big-menu__content-wrapper .links ul li:last-of-type {
            border-bottom: none; }
  @media (min-width: 48em) {
    .c_big-menu__content-wrapper .links ul li a:hover {
      text-decoration: underline; }
    .c_big-menu--right .c_big-menu__content-wrapper {
      box-shadow: -10px 0 15px 0px rgba(224, 224, 224, 0.4); }
    .c_big-menu--collapse .c_big-menu__content-wrapper {
      width: 25rem; }
    .c_big-menu .c_button--open-big-menu {
      position: relative;
      top: 1px;
      right: 0; }
    .c_big-menu .c_button--close-big-menu {
      position: absolute; }
    .c_big-menu.open .c_button--close-big-menu {
      top: 1rem;
      right: 1.5rem;
      opacity: 1; } }

.c_breadcrumbs ul {
  list-style: none; }
  .c_breadcrumbs ul li {
    display: inline-block;
    margin-right: 0.5rem; }
    .c_breadcrumbs ul li a:focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #325553;
      outline-offset: 1px; }
    .c_breadcrumbs ul li:after {
      margin-left: 0.5rem;
      content: '/'; }
    .c_breadcrumbs ul li:first-of-type {
      padding-left: 0; }
    .c_breadcrumbs ul li:last-of-type:after {
      display: none;
      content: ''; }

@media (min-width: 48em) {
  .c_breadcrumbs ul li a:hover {
    text-decoration: none; } }

.c_button--icon {
  padding: 0;
  width: 44px;
  height: 44px;
  background-color: #4c6e6e;
  color: #fff;
  transition: background-color 100ms ease-in, border-color 100ms ease-in; }
  .c_button--icon:hover, .c_button--icon--hover {
    background-color: #325553; }
  .c_button--icon:focus, .c_button--icon--focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #325553;
    outline-offset: 1px; }

.c_button--round {
  border-radius: 50%; }

.c_button {
  padding: 0;
  min-height: 44px;
  border: 1px solid #d7e6e6;
  -webkit-appearance: none;
  font-size: 1em;
  cursor: pointer;
  font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif; }
  .c_button--main {
    padding: 0.5rem 1rem;
    min-width: 140px;
    background-color: #4c6e6e;
    color: #fff;
    transition: background-color 100ms ease-in, border-color 100ms ease-in, outline 100ms ease-in;
    outline-offset: 0; }
    .c_button--main:hover, .c_button--main--hover {
      background-color: #325553;
      border-color: #325553; }
    .c_button--main:focus, .c_button--main--focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #4c6e6e;
      outline-offset: 1px; }
  .c_button svg {
    display: block;
    margin: 0 auto;
    width: 60%; }

.c_button--secondary {
  padding: 0.5rem 1rem;
  min-width: 140px;
  background-color: #f5f5f5;
  border-color: #f5f5f5;
  transition: background-color 100ms ease-in, border-color 100ms ease-in; }
  .c_button--secondary--hover, .c_button--secondary:hover {
    background-color: #c3c3c3;
    border-color: #c3c3c3; }
  .c_button--secondary--focus, .c_button--secondary:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #707070;
    outline-offset: 1px; }

.c_button--text {
  padding: 0.5rem;
  min-width: auto;
  background: none;
  text-decoration: underline;
  transition: background-color 100ms ease-in;
  border: 2px solid transparent; }
  .c_button--text:hover, .c_button--text--hover {
    background: #d7e6e6; }
  .c_button--text:focus, .c_button--text--focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #707070;
    outline-offset: 1px; }

.c_checkbox-group {
  border: none;
  appearance: none;
  -webkit-appearance: none; }
  .c_checkbox-group h3 {
    margin-top: 0;
    font-size: 1.25em; }
  .c_checkbox-group__item {
    display: block;
    position: relative;
    margin-bottom: 1rem; }
    .c_checkbox-group__item label {
      position: relative;
      margin-left: -2px;
      padding: 0 1rem 2px 2rem;
      color: #325553;
      border: 2px solid transparent;
      font-size: 1.25em;
      cursor: pointer; }
      .c_checkbox-group__item label:before, .c_checkbox-group__item label::after {
        position: absolute;
        content: ''; }
      .c_checkbox-group__item label:after {
        display: inline-block;
        transition: opacity 60ms ease-in;
        opacity: 0;
        top: 0.25rem;
        left: 0.25rem;
        height: 0.5rem;
        width: 1rem;
        border-left: 2px solid #325553;
        border-bottom: 2px solid #325553;
        transform: rotate(-45deg); }
      .c_checkbox-group__item label:before {
        display: inline-block;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid #325553; }
    .c_checkbox-group__item input[type="checkbox"] {
      opacity: 0;
      width: 0; }
      .c_checkbox-group__item input[type="checkbox"]:checked + label:after {
        opacity: 1; }
      .c_checkbox-group__item input[type="checkbox"]:focus + label {
        outline-style: solid;
        outline-width: 2px;
        outline-color: #707070;
        outline-offset: 1px; }
  @media (min-width: 48em) {
    .c_checkbox-group__item label:hover {
      cursor: pointer; } }

.c_facts {
  padding: 1.5rem;
  width: 100%;
  background: #d7e6e6; }
  .c_facts__heading {
    margin-bottom: 1.5rem;
    font-size: 2em;
    line-height: 1.875em; }
  .c_facts p {
    font-size: 1.25em; }
    .c_facts p:last-of-type {
      margin-bottom: 0; }

.c_footer {
  margin: auto auto 0 auto;
  border-top: 1px solid #325553;
  width: 100%;
  background: #fff; }
  .c_footer a:focus {
    outline-style: solid;
    outline-width: 2px;
    outline-color: #325553;
    outline-offset: 1px; }
  .c_footer__content-wrapper {
    padding: 2rem 1rem 1rem;
    width: 100%; }
  .c_footer .inner-wrapper {
    margin-bottom: 1.5rem; }
    .c_footer .inner-wrapper ul {
      list-style: none; }
      .c_footer .inner-wrapper ul li {
        margin-bottom: 0.5rem; }
    .c_footer .inner-wrapper--logo span:first-of-type {
      display: block;
      margin-bottom: 0.5rem; }
    .c_footer .inner-wrapper--logo .c_main-logo,
    .c_footer .inner-wrapper--logo a {
      display: block;
      width: 50px;
      height: 50px; }
      .c_footer .inner-wrapper--logo .c_main-logo svg,
      .c_footer .inner-wrapper--logo a svg {
        display: block; }
    .c_footer .inner-wrapper--logo .c_main-logo {
      width: 50px;
      height: 50px; }
    .c_footer .inner-wrapper--address span {
      display: block;
      line-height: 1.625em; }
  @media (min-width: 48em) {
    .c_footer__content-wrapper {
      display: flex;
      align-items: flex-end;
      padding-left: 1.5rem;
      padding-right: 1.5rem; }
      .c_footer__content-wrapper .inner-wrapper--logo {
        margin-right: 7em;
        display: flex; }
        .c_footer__content-wrapper .inner-wrapper--logo > span {
          margin-right: 1rem; }
      .c_footer__content-wrapper .inner-wrapper--links {
        margin-left: auto; } }
  @media (min-width: 70em) {
    .c_footer__content-wrapper {
      padding-left: 2.5rem;
      padding-right: 2.5rem; }
      .c_footer__content-wrapper .inner-wrapper--logo {
        margin-right: 10em; }
      .c_footer__content-wrapper .inner-wrapper--links ul {
        display: flex; }
        .c_footer__content-wrapper .inner-wrapper--links ul li {
          padding-right: 1rem;
          margin-right: 1rem;
          margin-bottom: 0;
          border-right: 1px solid #4c6e6e; }
          .c_footer__content-wrapper .inner-wrapper--links ul li:last-of-type {
            border-right: none;
            margin-right: 0; } }
  @media (min-width: 90em) {
    .c_footer {
      z-index: 10; } }

.c_form__form-name {
  margin-bottom: 1rem; }

.c_form .form-error span {
  display: inline-block;
  margin-bottom: 0.5rem;
  color: #ea3030; }

.c_form .form-error input {
  border: 1px solid #ea3030; }

.g_col-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start; }
  .g_col-group .g_col {
    margin-bottom: 1.5rem;
    width: 100%; }
  .g_col-group .g_col--1 {
    width: calc(16.66667% * 1); }
  .g_col-group .g_col--2 {
    width: calc(16.66667% * 2); }
  .g_col-group .g_col--3 {
    width: calc(16.66667% * 3); }
  @media (min-width: 30em) {
    .g_col-group {
      margin-left: -1rem;
      width: calc(100% + 1.5rem); }
      .g_col-group .g_col {
        padding: 0 1rem; }
      .g_col-group .g_col--1 {
        width: calc(16.66667% * 1); }
      .g_col-group .g_col--2 {
        width: calc(16.66667% * 2); }
      .g_col-group .g_col--3 {
        width: calc(16.66667% * 3); }
      .g_col-group .g_col--4 {
        width: calc(16.66667% * 4); }
      .g_col-group .g_col--5 {
        width: calc(16.66667% * 5); }
      .g_col-group .g_col--6 {
        width: calc(16.66667% * 6); } }
  @media (min-width: 48em) {
    .g_col-group .g_col--1 {
      width: calc(8.33333% * 1); }
    .g_col-group .g_col--2 {
      width: calc(8.33333% * 2); }
    .g_col-group .g_col--3 {
      width: calc(8.33333% * 3); }
    .g_col-group .g_col--4 {
      width: calc(8.33333% * 4); }
    .g_col-group .g_col--5 {
      width: calc(8.33333% * 5); }
    .g_col-group .g_col--6 {
      width: calc(8.33333% * 6); }
    .g_col-group .g_col--7 {
      width: calc(8.33333% * 7); }
    .g_col-group .g_col--8 {
      width: calc(8.33333% * 8); }
    .g_col-group .g_col--9 {
      width: calc(8.33333% * 9); }
    .g_col-group .g_col--10 {
      width: calc(8.33333% * 10); }
    .g_col-group .g_col--11 {
      width: calc(8.33333% * 11); }
    .g_col-group .g_col--12 {
      width: calc(8.33333% * 12); }
    .g_col-group .g_col--offset-1 {
      margin-left: calc(8.33333% * 1); }
    .g_col-group .g_col--offset-2 {
      margin-left: calc(8.33333% * 2); }
    .g_col-group .g_col--offset-3 {
      margin-left: calc(8.33333% * 3); }
    .g_col-group .g_col--offset-4 {
      margin-left: calc(8.33333% * 4); }
    .g_col-group .g_col--offset-5 {
      margin-left: calc(8.33333% * 5); }
    .g_col-group .g_col--offset-6 {
      margin-left: calc(8.33333% * 6); }
    .g_col-group .g_col--offset-7 {
      margin-left: calc(8.33333% * 7); }
    .g_col-group .g_col--offset-8 {
      margin-left: calc(8.33333% * 8); }
    .g_col-group .g_col--offset-9 {
      margin-left: calc(8.33333% * 9); }
    .g_col-group .g_col--offset-10 {
      margin-left: calc(8.33333% * 10); }
    .g_col-group .g_col--offset-11 {
      margin-left: calc(8.33333% * 11); }
    .g_col-group .g_col--offset-12 {
      margin-left: calc(8.33333% * 12); } }

.c_main-header {
  position: relative;
  padding: 1rem 0;
  background-color: #ebf3f3; }
  .c_main-header__content-wrapper {
    padding: 0 1rem;
    width: 100%; }
  .c_main-header h1 {
    position: relative;
    margin-left: 1rem;
    font-size: 0.875em;
    line-height: inherit;
    text-transform: uppercase; }
  .c_main-header__go-home {
    display: flex;
    align-items: center;
    text-decoration: none; }
    .c_main-header__go-home:focus {
      outline-style: solid;
      outline-width: 2px;
      outline-color: #707070;
      outline-offset: 1px; }
  .c_main-header__profile {
    display: none; }
  .c_main-header .skip-link {
    position: absolute;
    top: 1rem;
    left: 1rem;
    overflow: hidden;
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    background-color: #ebf3f3;
    color: #222;
    opacity: 0; }
    .c_main-header .skip-link:focus {
      margin: 0;
      padding: 0.5rem;
      height: auto;
      width: auto;
      opacity: 1;
      background: #fff;
      overflow: auto;
      z-index: 3;
      border: 2px solid #4c6e6e;
      outline: none;
      transition: all .2s ease; }
  .c_main-header .c_header-search {
    margin-top: 1.5rem; }
    .c_main-header .c_header-search__content .c_input {
      margin-bottom: 0; }
  .c_main-header .c_button--log-in-link {
    display: none; }
  @media (min-width: 48em) {
    .c_main-header {
      padding: 1.5rem 0; }
      .c_main-header .skip-link {
        top: 0.25rem;
        left: 0; }
      .c_main-header__content-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        padding: 0 1.5rem; }
      .c_main-header h1 {
        margin-left: 1.5rem;
        margin-right: 1rem;
        max-width: 470px;
        font-size: 1.5em; }
      .c_main-header .c_header-search {
        flex-grow: 1;
        margin: 0 1rem; }
      .c_main-header__go-home {
        margin-right: auto; }
        .c_main-header__go-home > span {
          position: relative; }
          .c_main-header__go-home > span:after {
            display: block;
            position: absolute;
            top: 0;
            right: -1rem;
            width: 1px;
            height: 100%;
            background-color: #325553;
            content: ''; }
      .c_main-header__profile {
        display: inline-block; }
        .c_main-header__profile a {
          display: block; }
          .c_main-header__profile a svg {
            display: block;
            margin: 0 auto;
            width: 70%; } }
  @media (min-width: 70em) {
    .c_main-header__content-wrapper {
      padding: 0 3rem; }
    .c_main-header .c_button--log-in-link {
      display: inline-block; } }
  @media (min-width: 90em) {
    .c_main-header {
      z-index: 10; } }

.c_header-search__content {
  position: relative; }
  .c_header-search__content .c_button--search {
    padding-left: 0;
    padding-right: 0;
    width: 44px;
    height: 44px;
    background-color: #fff;
    border: none; }

@media (max-width: 48em) {
  .c_header-search__content .c_input input {
    padding-left: 50px; }
  .c_header-search__content .c_button--search {
    position: absolute;
    top: 3px;
    left: 3px;
    height: 37px;
    min-height: auto; }
    .c_header-search__content .c_button--search svg {
      margin: -0.25rem auto 0;
      width: 50%;
      stroke: #707070; }
      .c_header-search__content .c_button--search svg path,
      .c_header-search__content .c_button--search svg rect {
        stroke: #707070;
        fill: #707070; } }

@media (min-width: 48em) {
  .c_header-search {
    position: relative;
    padding: 0;
    max-width: 44px;
    overflow: hidden;
    transition: 250ms max-width ease-in-out; }
    .c_header-search.open {
      max-width: 300px; }
    .c_header-search__content .c_input input {
      border-color: #d7e6e6; }
    .c_header-search__content .c_button--search {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      background-color: #4c6e6e;
      border: 1px solid #d7e6e6; }
      .c_header-search__content .c_button--search svg {
        position: absolute;
        top: 50%;
        left: calc(50% - 1px);
        transform: translate(-50%, -50%);
        margin: 0;
        width: 50%; }
      .c_header-search__content .c_button--search:hover {
        background-color: #325553; } }

.c_image img {
  display: block;
  width: 100%; }

.c_image__figcaption {
  margin-top: 1rem; }

.c_image__credit {
  display: inline-block;
  margin-left: 0.25rem; }
  .c_image__credit:before {
    margin-right: 0.25rem;
    content: '|'; }

.c_input {
  margin-bottom: 1.5rem;
  border: none;
  appearance: none;
  -webkit-appearance: none; }
  .c_input label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.25em;
    color: #325553; }
  .c_input input {
    padding: 0.5rem;
    width: 100%;
    min-height: 44px;
    font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
    font-size: 1em;
    color: #707070;
    border: 1px solid #325553;
    background: #fff; }
    .c_input input:focus {
      border-color: #79a8a8;
      outline-style: solid;
      outline-width: 2px;
      outline-color: #707070;
      outline-offset: 1px; }

.c_big-menu--left {
  display: none;
  height: 0; }

@media (min-width: 48em) {
  .c_big-menu--left .c_big-menu__content-wrapper {
    box-shadow: 10px 0 15px 0px rgba(224, 224, 224, 0.4); } }

@media (min-width: 90em) {
  .c_big-menu--left {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    padding-top: 8em;
    padding-bottom: 8em;
    height: 100%;
    z-index: 5; }
    .c_big-menu--left .c_big-menu__content-wrapper {
      width: 20em;
      box-shadow: none;
      overflow-y: scroll; }
      .c_big-menu--left .c_big-menu__content-wrapper::-webkit-scrollbar {
        display: none; } }

.c_ordered-list {
  padding-left: 1rem; }
  .c_ordered-list > li {
    margin-bottom: 1rem; }
    .c_ordered-list > li > ol,
    .c_ordered-list > li > ul {
      padding-left: 0; }

.c_ordered-list,
.c_unordered-list {
  margin-bottom: 2.5rem; }
  .c_ordered-list ul,
  .c_ordered-list ol,
  .c_unordered-list ul,
  .c_unordered-list ol {
    list-style: none; }
  .c_ordered-list > li,
  .c_unordered-list > li {
    margin-bottom: 1.5rem; }
    .c_ordered-list > li > *:first-of-type:not(ul):not(ol),
    .c_unordered-list > li > *:first-of-type:not(ul):not(ol) {
      display: inline-block;
      margin-top: 0; }
    .c_ordered-list > li p,
    .c_unordered-list > li p {
      font-size: 1em; }
    .c_ordered-list > li > ul > li,
    .c_unordered-list > li > ul > li {
      margin-bottom: 1.5rem; }
      .c_ordered-list > li > ul > li > *:first-of-type:not(ul):not(ol),
      .c_unordered-list > li > ul > li > *:first-of-type:not(ul):not(ol) {
        display: inline-block;
        margin-top: 0; }
      .c_ordered-list > li > ul > li:before,
      .c_unordered-list > li > ul > li:before {
        content: '\2022';
        margin-right: 1rem;
        color: #4c6e6e;
        width: 2rem;
        padding-left: -1rem;
        font-weight: bold; }
    .c_ordered-list > li > ol,
    .c_unordered-list > li > ol {
      padding-left: 2.5rem;
      list-style-type: decimal; }
    .c_ordered-list > li > ul,
    .c_ordered-list > li > ol,
    .c_unordered-list > li > ul,
    .c_unordered-list > li > ol {
      display: block;
      margin-top: 1rem; }
      .c_ordered-list > li > ul li,
      .c_ordered-list > li > ol li,
      .c_unordered-list > li > ul li,
      .c_unordered-list > li > ol li {
        margin-bottom: 1rem; }
        .c_ordered-list > li > ul li > ul,
        .c_ordered-list > li > ul li > ol,
        .c_ordered-list > li > ol li > ul,
        .c_ordered-list > li > ol li > ol,
        .c_unordered-list > li > ul li > ul,
        .c_unordered-list > li > ul li > ol,
        .c_unordered-list > li > ol li > ul,
        .c_unordered-list > li > ol li > ol {
          display: block;
          margin-left: 1.5rem; }
          .c_ordered-list > li > ul li > ul li,
          .c_ordered-list > li > ul li > ol li,
          .c_ordered-list > li > ol li > ul li,
          .c_ordered-list > li > ol li > ol li,
          .c_unordered-list > li > ul li > ul li,
          .c_unordered-list > li > ul li > ol li,
          .c_unordered-list > li > ol li > ul li,
          .c_unordered-list > li > ol li > ol li {
            margin-top: 1rem; }
            .c_ordered-list > li > ul li > ul li:before,
            .c_ordered-list > li > ul li > ol li:before,
            .c_ordered-list > li > ol li > ul li:before,
            .c_ordered-list > li > ol li > ol li:before,
            .c_unordered-list > li > ul li > ul li:before,
            .c_unordered-list > li > ul li > ol li:before,
            .c_unordered-list > li > ol li > ul li:before,
            .c_unordered-list > li > ol li > ol li:before {
              content: '\2013';
              margin-right: 1rem;
              color: #4c6e6e;
              width: 2rem;
              font-weight: bold; }

.c_unordered-list {
  padding-left: 0;
  list-style: none; }
  .c_unordered-list > li:before {
    content: '\2022';
    color: #4c6e6e;
    width: 1.5rem;
    margin-right: 0.25rem;
    font-weight: bold; }
  .c_unordered-list > li > ul {
    padding-left: 1rem; }

.c_main-logo {
  display: inline-block;
  width: 32px;
  height: 32px; }
  .c_main-logo svg {
    width: 100%;
    height: 100%; }
  @media (min-width: 48em) {
    .c_main-logo {
      width: 50px;
      height: 50px; }
      .c_main-logo svg {
        width: 50px;
        height: 50px; } }

.c_pagination {
  width: 100%; }
  .c_pagination nav {
    display: flex;
    justify-content: center; }
    .c_pagination nav ul {
      display: flex;
      list-style: none; }
      .c_pagination nav ul li {
        margin-bottom: 0; }
        .c_pagination nav ul li button {
          position: relative;
          width: 2.5rem;
          min-width: 44px; }
          .c_pagination nav ul li button:focus {
            z-index: 2; }
        .c_pagination nav ul li.active button {
          color: #fff;
          background-color: #4c6e6e; }
  @media (min-width: 48em) {
    .c_pagination nav {
      justify-content: flex-end; } }

.c_radio-group {
  border: none;
  appearance: none;
  -webkit-appearance: none; }
  .c_radio-group h3 {
    margin-top: 0;
    font-size: 1.25em; }
  .c_radio-group__item {
    display: block;
    position: relative;
    margin-bottom: 1rem; }
    .c_radio-group__item label {
      position: relative;
      margin-left: -2px;
      padding: 0 1rem 2px 2rem;
      color: #325553;
      border: 2px solid transparent;
      font-size: 1.25em; }
      .c_radio-group__item label:before, .c_radio-group__item label::after {
        position: absolute;
        content: ''; }
      .c_radio-group__item label:before {
        display: inline-block;
        top: 0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid #325553;
        border-radius: 50%; }
      .c_radio-group__item label:after {
        top: 7px;
        left: 7px;
        width: 11px;
        height: 11px;
        border-radius: 50%;
        background-color: #325553;
        transition: opacity 70ms ease-in;
        opacity: 0; }
    .c_radio-group__item input[type="radio"] {
      opacity: 0;
      width: 0; }
      .c_radio-group__item input[type="radio"]:checked + label:after {
        opacity: 1; }
      .c_radio-group__item input[type="radio"]:focus + label {
        outline-style: solid;
        outline-width: 2px;
        outline-color: #707070;
        outline-offset: 1px; }
  @media (min-width: 48em) {
    .c_radio-group__item label:hover {
      cursor: pointer; } }

@media (max-width: 48em) {
  .c_table--responsive {
    overflow-x: auto !important; }
    .c_table--responsive thead,
    .c_table--responsive tfoot {
      display: none; }
    .c_table--responsive tbody tr td {
      display: block;
      position: relative;
      width: 100%;
      padding-left: calc(10rem + 1rem) !important; }
      .c_table--responsive tbody tr td:before {
        display: block;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 10rem;
        content: attr(data-th);
        font-weight: 700; } }

.c_select {
  position: relative;
  border: none;
  appearance: none;
  -webkit-appearance: none; }
  .c_select__arrow {
    display: block;
    position: absolute;
    bottom: 0;
    right: 1rem;
    transform: translateY(-50%) rotate(90deg);
    width: 8px;
    height: 20px; }
    .c_select__arrow svg {
      fill: #325553; }
  .c_select label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.25em;
    color: #325553; }
  .c_select select {
    display: block;
    margin: 0;
    padding: 0 0.5rem;
    width: 100%;
    max-width: 100%;
    min-height: 44px;
    color: #707070;
    border: 1px solid #325553;
    background: #fff;
    font-size: 1em;
    font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none; }
    .c_select select option {
      background: #d7e6e6;
      font-size: 1em; }
    .c_select select::-ms-expand {
      display: none; }
    .c_select select:focus {
      border-color: #79a8a8;
      outline-style: solid;
      outline-width: 2px;
      outline-color: #707070;
      outline-offset: 1px; }

.c_spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px; }
  .c_spinner__wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    animation: spin 1s steps(12, end) infinite; }
    .c_spinner__wrapper i {
      display: block;
      position: absolute;
      left: calc(50% - 3px);
      height: 30px;
      width: 6px;
      transition: height 2s ease;
      transform-origin: center 50px;
      background: #325553; }
      .c_spinner__wrapper i:nth-of-type(1) {
        transform: rotate(30deg);
        opacity: 1; }
      .c_spinner__wrapper i:nth-of-type(2) {
        transform: rotate(60deg);
        opacity: 0.5; }
      .c_spinner__wrapper i:nth-of-type(3) {
        transform: rotate(90deg);
        opacity: 0.33333; }
      .c_spinner__wrapper i:nth-of-type(4) {
        transform: rotate(120deg);
        opacity: 0.25; }
      .c_spinner__wrapper i:nth-of-type(5) {
        transform: rotate(150deg);
        opacity: 0.2; }
      .c_spinner__wrapper i:nth-of-type(6) {
        transform: rotate(180deg);
        opacity: 0.16667; }
      .c_spinner__wrapper i:nth-of-type(7) {
        transform: rotate(210deg);
        opacity: 0.14286; }
      .c_spinner__wrapper i:nth-of-type(8) {
        transform: rotate(240deg);
        opacity: 0.125; }
      .c_spinner__wrapper i:nth-of-type(9) {
        transform: rotate(270deg);
        opacity: 0.11111; }
      .c_spinner__wrapper i:nth-of-type(10) {
        transform: rotate(300deg);
        opacity: 0.1; }
      .c_spinner__wrapper i:nth-of-type(11) {
        transform: rotate(330deg);
        opacity: 0.09091; }
      .c_spinner__wrapper i:nth-of-type(12) {
        transform: rotate(360deg);
        opacity: 0.08333; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.c_table {
  margin-bottom: 1.5rem;
  overflow-x: scroll; }
  .c_table table {
    width: 100%;
    max-width: 100%; }
  .c_table thead tr th,
  .c_table thead tr td,
  .c_table tfoot tr th,
  .c_table tfoot tr td {
    padding: 1rem 0.5rem;
    font-family: 'Open Sans';
    font-size: 1em;
    text-align: left; }
  .c_table thead tr th {
    text-transform: uppercase;
    border-bottom: 2px solid #e0e0e0; }
  .c_table tbody tr td {
    padding: 0.5rem;
    text-align: left;
    border-bottom: 1px solid #e0e0e0; }

.c_table-scroll {
  display: flex;
  padding: 0.25rem 0.5rem;
  width: 5rem;
  min-height: 28px;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  border-radius: 1rem;
  background-color: #4c6e6e;
  animation: bounce 1.6s infinite linear; }
  .c_table-scroll__text {
    margin-top: 2px; }
  .c_table-scroll__icon {
    margin-left: 0.25rem;
    height: 12px; }
    .c_table-scroll__icon svg {
      display: block;
      height: 100%;
      fill: #fff; }

@keyframes bounce {
  0% {
    margin-left: 0; }
  70% {
    margin-left: 0; }
  75% {
    margin-left: 0.25rem; }
  80% {
    margin-left: 0; }
  85% {
    margin-left: 0.5rem; }
  90% {
    margin-left: 0; } }

.c_textarea {
  margin-bottom: 1.5rem;
  border: none;
  appearance: none;
  -webkit-appearance: none; }
  .c_textarea label {
    display: block;
    margin-bottom: 0.5rem;
    text-align: left;
    font-size: 1.25em;
    color: #325553; }
  .c_textarea textarea {
    padding: 0.5rem;
    width: 100%;
    min-height: 9em;
    font-family: "PalatinoLTStd-Light", Palatino Linotype, Book Antiqua3, Palatino, Palatino-Roman, serif;
    font-size: 1em;
    color: #707070;
    border: 1px solid #325553;
    background: #fff; }
    .c_textarea textarea:focus {
      border-color: #79a8a8;
      outline-style: solid;
      outline-width: 2px;
      outline-color: #707070;
      outline-offset: 1px; }

.c_warning {
  position: relative;
  padding: 1rem;
  padding-left: 3rem;
  margin-bottom: 0.5rem;
  transition: background-color 150ms ease-in-out; }
  .c_warning p {
    line-height: 1.375em; }
    .c_warning p a {
      color: inherit; }
      .c_warning p a:focus {
        outline-style: solid;
        outline-width: 2px;
        outline-color: inherit;
        outline-offset: 1px; }
    .c_warning p:last-of-type {
      margin-bottom: 0; }
  .c_warning svg {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translateY(-50%);
    width: 16px;
    height: 16px; }
  .c_warning--confirm {
    background-color: #d7e6e6;
    color: #4c6e6e; }
    .c_warning--confirm svg path {
      fill: #4c6e6e; }
  .c_warning--error {
    background-color: #edcfcf;
    color: #a30909; }
    .c_warning--error svg path {
      fill: #a30909; }
  .c_warning--info {
    background-color: #f5f5f5;
    color: #3e3e3e; }
    .c_warning--info svg path {
      fill: #3e3e3e; }
  .c_warning--obs {
    background-color: #faf8dd;
    color: #86660e;
    color: #86660e; }
    .c_warning--obs svg path {
      fill: #86660e; }
  @media (min-width: 48em) {
    .c_warning p a:hover {
      text-decoration: none; } }
