@import '../../../assets/styles/variables';

.c_breadcrumbs {
  ul {
    list-style: none;
    li {
      display: inline-block;
      margin-right: $space-xs;
      // padding: 0 $space-s;
      &:after {
        margin-left: $space-xs;
        content: '/';
      }
      &:first-of-type {
        padding-left: 0;
      }
      &:last-of-type {
        &:after {
          display: none;
          content: '';
        }
      }
    }
  }
}