@import '../../../assets/styles/variables';

.c_button--secondary {
  padding: $space-xs $space-s;
  min-width: 140px;
  background-color: $gray-4;
  border-color: $gray-4;
  transition: background-color 100ms ease-in, border-color 100ms ease-in;
  &--hover,
  &:hover {
    background-color: $gray-2;
    border-color: $gray-2;
  }
  &--focus,
  &:focus {
    @include focus-border($gray-1);
  }
}