@import '../../../assets/styles/variables';

.c_button {
  padding: 0;
  min-height: 44px;
  border: 1px solid $green-4;
  -webkit-appearance: none;
  font-size: 1em;
  cursor: pointer;
  font-family: $base-font-family;
  &--main {
    padding: $space-xs $space-s;
    min-width: 140px;
    background-color: $green-2;
    color: #fff;
    transition: background-color 100ms ease-in, border-color 100ms ease-in, outline 100ms ease-in;
    outline-offset: 0;
    &:hover,
    &--hover {
      background-color: $green-1;
      border-color: $green-1;
    }
    &:focus,
    &--focus {
      @include focus-border($green-2);
    }
  }
  svg {
    display: block;
    margin: 0 auto;
    width: 60%;
  }
}