@import '../../../assets/styles/variables';

.c_button--text {
  padding: $space-xs;
  min-width: auto;
  background: none;
  text-decoration: underline;
  transition: background-color 100ms ease-in;
  border: 2px solid transparent;
  &:hover,
  &--hover {
    background: $green-4;
  }
  &:focus,
  &--focus {
    @include focus-border($gray-1);
  }
}