@import '../../../assets/styles/variables';

.c_checkbox-group {
  border: none;
  appearance: none;
  -webkit-appearance: none;
  h3 {
    margin-top: 0;
    font-size: (20/16) * 1em;
  }
  &__item {
    display: block;
    position: relative;
    margin-bottom: $space-s;
    label {
      position: relative;
      margin-left: -2px;
      padding: 0 $space-s 2px $space-l;
      color: $green-1;
      border: 2px solid transparent;
      font-size: (20/16) * 1em;
      cursor: pointer;
      &:before,
      &::after {
        position: absolute;
        content: '';
      }
      &:after {
        display: inline-block;
        transition: opacity 60ms ease-in;
        opacity: 0;
        top: $space-xxs;
        left: $space-xxs;
        height: $space-xs;
        width: $space-s;
        border-left: 2px solid $green-1;
        border-bottom: 2px solid $green-1;
        transform: rotate(-45deg);
      }
      &:before {
        display: inline-block;
        top:  0;
        left: 0;
        width: 24px;
        height: 24px;
        border: 1px solid $green-1;
      }
    }
    input[type="checkbox"] {
      opacity: 0;
      width: 0;
      &:checked + label {
        &:after {
          opacity: 1;
        }
      }
      &:focus + label {
        @include focus-border($gray-1);
      }
    }
  }
}