.sg-colors {
  padding: 0;
  margin: 0;
  li {
      margin-bottom: 2em;
      list-style-type: none;
      h3 {
        margin-top: 0;
        margin-bottom: 1em;
      }
      .color {
        display: block;
        position: relative;
        min-height: 15em;
        &__info {
          position: absolute;
          left: 1em;
          bottom: 1em;
          right: 1em;
          padding: 1em;
          background-color: #fff;
        }
        &__id {
          position: absolute;
          top: $space-xxs;
        }
      }
      &.dark {
        .color {
          // color: #fff; 
        }
      }
    }
    @media (min-width: $breakpoint-med) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: calc(50% - 2em);
      }
    }
    @media (min-width: $breakpoint-big) {
      li {
        width: calc(33% - 2em);
      }
    }
}
