@import '../../../assets/styles/variables';

.c_footer {
  margin: auto auto 0 auto;
  border-top: 1px solid $green-1;
  width: 100%;
  background: #fff;
  a {
    &:focus {
      @include focus-border($green-1);
    }
  }
  &__content-wrapper {
    padding: $space-l $space-s $space-s;
    width: 100%;
  }
  .inner-wrapper {
    margin-bottom: $space-m;
    ul {
      list-style: none;
      li {
        margin-bottom: $space-xs;
      }
    }
    &--logo {
      span:first-of-type {
        display: block;
        margin-bottom: $space-xs;
      }
      .c_main-logo,
      a {
        display: block;
        width: 50px;
        height: 50px;
        svg {
          display: block;          
        }        
      }
      .c_main-logo {
        width: 50px;
        height: 50px;
      }
    }
    &--address {
      span {
        display: block;
        line-height: (26/16) * 1em;
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    &__content-wrapper {
      display: flex;
      align-items: flex-end;
      padding-left: $space-m;
      padding-right: $space-m;
      .inner-wrapper {
        &--logo {
          margin-right: 7em;
          display: flex;
          >span {
            margin-right: $space-s;
          }
        }
        &--links {
          margin-left: auto;
        }
      }
    }
  }
  @media (min-width: $breakpoint-big) {
    &__content-wrapper {
      padding-left: $space-xl;
      padding-right: $space-xl;
      .inner-wrapper {
        &--logo {
          margin-right: 10em;
        }
        &--links {
          ul {
            display: flex;
            li {
              padding-right: $space-s;
              margin-right: $space-s;
              margin-bottom: 0;
              border-right: 1px solid $green-2;
              &:last-of-type {
                border-right: none;
                margin-right: 0;
              }
            }
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-mega) {
    z-index: 10;
  }
}