@import '../../../assets/styles/variables';

.c_form {
  &__form-name {
    margin-bottom: $space-s;
  }
  .form-error {
    span {
      display: inline-block;
      margin-bottom: $space-xs;
      color: $red-2;
    }
    input {
      border: 1px solid $red-2;
    }
  }
}