@import '../../../assets/styles/variables';

$columnWidth: (100%/6);

.g_col-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .g_col {
    margin-bottom: $space-m;
    width: 100%;
  }
  @for $i from 1 through 3 {
    .g_col--#{$i} {
      width: calc(#{$columnWidth} * #{$i});
    }
  }

  @media (min-width: $breakpoint-small) {
    margin-left: -$space-s;
    width: calc(100% + #{$space-m});
    $columnWidth: (100%/6);
    .g_col {
      padding: 0 $space-s;
    }
    @for $i from 1 through 6 {
      .g_col--#{$i} {
        width: calc(#{$columnWidth} * #{$i});
      }
    }
  }

  @media (min-width: $breakpoint-med) {
    $columnWidth: (100%/12);
    @for $i from 1 through 12 {
      .g_col--#{$i} {
        width: calc(#{$columnWidth} * #{$i});
      }
    }
    @for $i from 1 through 12 {
      .g_col--offset-#{$i} {
        margin-left: calc(#{$columnWidth} * #{$i});
      }
    }
  }
}