@import '../../../assets/styles/variables';

.c_button {
  padding: $space-xs $space-s;
  min-height: 44px;
  border: 1px solid $green-4;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: $base-font-family;
  &--main {
    min-width: 140px;
    background-color: $green-2;
    color: #fff;
    transition: background-color 100ms ease-in, border-color 100ms ease-in;
    &:hover,
    &--hover {
      background-color: $green-1;
      border-color: $green-1;
    }
    &:focus,
    &--focus {
      border: 1px dashed $gray-2;
      outline: 1px solid $green-4;
    }
  }
  &--collapse-big-menu {
    padding: 0;
    width: 44px;
    height: 44px;
  }
  svg {
    display: block;
    width: 100%;
  }
}