@import '../../../assets/styles/variables';

.c_button {
  padding: $space-xs $space-s;
  min-height: 44px;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
  font-family: $base-font-family;
  &--main {
    min-width: 130px;
    background-color: $green-2;
    color: #fff;
  }
  &--collapse-big-menu {
    padding: 0;
    width: 44px;
    height: 44px;
  }
  svg {
    display: block;
    width: 100%;
  }
}