@import '../../../assets/styles/variables';

.c_main-logo {
  display: inline-block;
  width: 32px;
  height: 32px;
  svg {
    width: 100%;
    height: 100%;
  }
  @media (min-width: $breakpoint-med) {
    width: 50px;
    height: 50px;
    svg {
      width: 50px;
      height: 50px;
    }
  }
}
