@import '../../../assets/styles/variables';

.c_main-menu {
  .c_button--collapse-menu {
    display: none;
  }
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 0;
    a {
      display: block;
      padding: $space-xs $space-m;
    }
    h2 {
      margin-top: $space-s;
    }
    // >ul {
    //   display: flex;
    //   width: calc(100% - #{$space-l});
    //   margin-left: $space-s;
    //   border-top: 1px solid $gray-2;
    //   flex-wrap: wrap;
    //   li {
    //     margin: $space-xs 0;
    //     width: 50%;
    //     text-align: center;
    //     border-bottom: 2px solid $gray-3;
    //     &:nth-of-type(odd) {
    //       border-right:  2px solid $gray-3;
    //     }
    //     a {
    //       padding: $space-xs $space-s;
    //     }
    //   }
    // }
  }
  // Kun for mobil
  @media (max-width: $breakpoint-med) {
    width: 100%;
    >div>ul {
      margin-left: -5%;
      max-height: 0;
      width: 110%;
      background-color: #fff;
      overflow: hidden;
      @include gradient(#fff, $gray-4);
      transition: max-height 250ms ease-in-out;
      border-bottom: 2px solid $gray-3;
      >li {
        >a {
          background-color: #fff;
          &.active {
            background: $green-1;
            color: #fff;
          }
        }
      }
    }
    .c_button--collapse-menu {
      display: block;
      padding: 0 calc(5% + #{$space-xs});
      margin-left: -5%;
      width: 110%;
      text-align: left;
      border-top: 1px solid $gray-3;
      // @include gradient($gray-4, $gray-2);
      background-color: $gray-3;
      // font-family: $base-font-family;
    }
    &.open {
      ul {
        // width: 100vw;
        max-height: 500px;
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    background: #fff;
    border-bottom: 2px solid $gray-3;
    ul {
      display: flex;
      justify-content: flex-end;
      >li {
        >a {
          margin-bottom: -2px;
          &.active {
            border-bottom: 2px solid $green-1;
          }
        }
      }
    }
  }
}