@import '../../../assets/styles/variables';

.main-logo {
  display: inline-block;
  width: 44px;
  height: 44px;
  svg {
    width: 100%;
  }
  @media (min-width: $breakpoint-med) {
    width: 82px;
    height: 82px;
  }
}
