@import '../../../assets/styles/variables';

.c_select {
  position: relative;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  &__arrow {
    display: block;
    position: absolute;
    bottom: 0;
    right: $space-s;
    transform: translateY(-50%) rotate(90deg);
    width: 8px;
    height: 20px;
    svg {
      fill: $green-1;
    }
  }
  label {
    display: block;
    margin-bottom: $space-xs;
    text-align: left;
    font-size: (20/16) * 1em;
    color: $green-1;
  }
  select {
    display: block;
    margin: 0;
    padding: $space-xs;
    width: 100%;
    max-width: 100%; 
    min-height: 44px;
    color: $gray-1;
    border: 1px solid $green-1;
    background: #fff;
    font-size: $default-font;
    font-family: $base-font-family;
    border-radius: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    option {
      background: $green-4;
      font-size: $default-font;
    }
    &::-ms-expand {
      display: none;
    }
    &:focus {
      border-color: $green-3;
      @include focus-border($gray-1);
    }
  }
}