@import '../../../assets/styles/variables';

.c_textarea {
  margin-bottom: $space-m;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  label {
    display: block;
    margin-bottom: $space-xs;
    text-align: left;
    font-size: (20/16) * 1em;
    color: $green-1;
  }
  textarea {
    padding: $space-xs;
    width: 100%;
    min-height: 9em;
    font-family: $base-font-family;
    font-size: $default-font;
    color: $gray-1;
    border: 1px solid $green-1;
    background: #fff;
    &:focus {
      border-color: $green-3;
      @include focus-border($gray-1);
    }
  }
}