.sg_component-wrapper {
  &__component {
    margin: $space-xxl 0;
  }
  &__code {
    pre {
      display: block;
      margin-bottom: 1.6em;
      padding: 1em 1.5em;
      max-width: 100%;
      // line-height: 1.6;
      background: $gray-4;
      border: 1px solid #ddd;
      border-left: 3px solid $green-1;
      color: $gray-1;
      page-break-inside: avoid;
      font-family: monospace;
      overflow: auto;
      word-wrap: break-word;
    }
  }
}