.sg_footer {
  margin: auto auto 0 auto;
  width: 100%;
  background: #fff;
  .site-title {
    // font-size: 0.5em;
    h3,
    h4 {
      // line-height: 1.3em;
      color: $green-1;
    }
  }
  >div {
    padding: 40px 0 20px;
    border-top: 1px solid $green-1;
  }
}