.sg_main-menu {
  .btn--collapse-menu {
    display: none;
  }
  ul {
    list-style: none;
  }
  li {
    a {
      display: block;
      padding: $space-xs $space-s;
      
    }
  }
  // Kun for mobil
  @media (max-width: $breakpoint-med) {
    width: 100%;
    ul {
      max-height: 0;
      overflow: hidden;
      @include gradient(#fff, $gray-4);
      transition: max-height 150ms ease-in-out;
    }
    .btn--collapse-menu {
      display: block;
      padding: 0 $space-s;
      margin-left: -5%;
      width: 110%;
      text-align: left;
      border-top: 1px solid $gray-3;
      @include gradient($gray-4, $gray-2);
    }
    &.open {
      ul {
        margin-left: -5%;
        width: 110%;
        max-height: 170px;
        li {
          a {
            &.active {
              background: $green-1;
              color: #fff;
            }
          }
        }
      }
    }
  }
  @media (min-width: $breakpoint-med) {
    background: #fff;
    border-bottom: 2px solid $gray-3;
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        a {
          margin-bottom: -2px;
          &.active {
            border-bottom: 2px solid $green-1;
          }
        }
      }
    }
  }
}