.sg_submenu {
  margin-top: -$space-m;
  padding-top: $space-s;
  background: $gray-4;
  border-bottom: 1px solid $gray-3;
  h3 {
    margin-top: $space-s;
  }
  ul {
    margin-bottom: $space-s;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    li {
      a {
        display: block;
        padding: $space-xs;
      }
    }
  } 
}
