.sg_component-wrapper {
  margin-bottom: 3em;
  &__component {
    margin: $space-xs 0 $space-l;
  }
  .component__version {
    margin-top: $space-m;
  }
  &__code {
    pre {
      display: block;
      margin-bottom: 1.6em;
      padding: 1em 1.5em;
      max-width: 100%;
      background: $gray-4;
      border: 1px solid #ddd;
      border-left: 3px solid $green-1;
      color: $gray-1;
      page-break-inside: avoid;
      font-family: monospace;
      overflow: auto;
      word-wrap: break-word;
    }
  }
}