.sg_sub-wrapper {
  position: relative;
  &--components {
    border-color: green;
  }
  &--resources {
    border-color: salmon;
  }
  @media (min-width: $breakpoint-med) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .sg_submenu {
      background: pink;
      width: calc(25% - #{$space-xs});
      h3 {
        display: none;
      }
    }
    .sg_sub-content {
      width: calc(75% - #{$space-xs});
    }
  }
}