.sg_submenu {
  background: $gray-4;
  ul {
    list-style: none;
    li {
      a {
        display: block;
        padding: $space-xs;
      }
    }
  }
  @media (max-width: $breakpoint-med) {
    position: absolute;
    top: 0;
    left: -87%;
    width: 80%;
    transition: left 200ms ease-in-out, box-shadow 400ms ease-in-out;
    box-shadow: none;
    .btn--collapse-sub-menu {
      position: fixed;
      top: 160px;
      right: 5%;
      font-size: inherit;
    }
    ul {
      margin-bottom: $space-s;
      li {

      }
    }
    &.open {
      left: -5%;
      @include box-shadow();
    }
  }
  @media (min-width: $breakpoint-med) {
    .btn--collapse-sub-menu {
      display: none;
    }
  }
}
