@import '../../../assets/styles/variables';

.sg_colors {
  padding: 0;
  margin: 0;
  li {
      margin-bottom: $space-m;
      list-style-type: none;
      h3 {
        margin-top: 0;
        margin-bottom: 1em;
      }
      .color {
        display: block;
        position: relative;
        margin-bottom: $space-xs;
        min-height: 15em;
        &__info {
          position: absolute;
          left: $space-xs;
          bottom: $space-xs;
          right: $space-xs;
          padding: $space-xs;
          background-color: #fff; 
        }
        &__id {
          position: absolute;
          right: $space-xs; 
          top: $space-xs;
          padding: $space-xxs;
          background: rgba(#fff, 0.85);
          // font-family: $bold-font-family;
        }
      }
    }
    @media (min-width: $breakpoint-big) {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      li {
        width: calc(50% - 2em);
        .color {
          min-height: 20em;
        }
      }
    }
}
