@import '../../../assets/styles/variables';

.sg_contrasts {
  list-style: none;
  li {
    margin-bottom: $space-s;
    .contrast {
      padding: $space-m;
      font-size: 2em;
      text-transform: uppercase;
    }
  }
}