@import '../../../assets/styles/variables';

.sg_fonts {
  list-style: none;
  li {
    padding-bottom: $space-xxl;
    margin-bottom: $space-xxl;
    border-bottom: 2px solid $gray-2;
    >span {
      display: block;
      margin-bottom: $space-xs;
    }
    >h4 {
      margin-bottom: $space-s;
    }
  }
  @media (min-width: $breakpoint-med) {

  }
}